@import url("https://fonts.googleapis.com/css?family=Montserrat");

@font-face {
    font-family: "Lato";
    src: url("../fonts/latoregular.ttf");
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.text-orange {
    color: #f1ad1d;
}

.section-title {
    font-family: 'Montserrat', sans-serif;
    color:  #333333;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.slogan-title {
    font-family: 'Montserrat', sans-serif;
    color:  #ffffff;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
.section-description {
    font-family: 'Lato', sans-serif;
    color:  #4d4943;
    font-size: 17px;
    text-align: center;
    margin-bottom: 57px;
}

.under_line::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f1ad1d;
    margin: 52px auto 0;
}

/*HEADER START*/
.header {
    background-image: url(../img/img_bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 531px;
    padding-bottom: 140px;
    background-attachment: fixed;
}
.header-company-name {
    font-family: 'Montserrat', sans-serif;
    color:  #fff;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}
.header-company-description {
    font-family: "Lato", sans-serif;
    color:  #fff;
    font-size: 18px;
    margin-bottom: 28px;
}

.header-slogan-begin {
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    color: #f1ae17;
    font-size: 54px;
    font-weight: 700;
    padding: 45px 30px;
    border: 1px solid #fff;
    margin-left: -6px;
    background-color: rgba(225, 225, 225, 1);
}

.header-slogan-end {
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    color:  #fff;
    font-size: 54px;
    font-weight: 700;
    padding: 45px 30px;
    border: 1px solid #fff;
    background-color: rgba(0, 0, 0, 0.3);
    position: relative;
    left: -4px;
}
/* HEADER END*/

/*ABOUT US START*/
.about-us {
    padding-top: 120px;
    padding-bottom: 100px;
}
/*ABOUT US END*/

/*SLOGAN-IDEAS-TO-REALITIES START*/
.slogan-section-ideas-to-realities {
    background-image: url(../img/img_bg2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 151px 0;
    background-attachment: fixed;
}
/*SLOGAN-IDEAS-TO-REALITIES END*/

/*SECRET START*/
.secret {
    padding-top: 120px;
    padding-bottom: 100px;
}
/*SECRET END*/

/*SECTION PARTNERS START*/
.partners{
    padding-top: 175px;
    padding-bottom: 114px;
    background-image: url(../img/img_bg3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.partners-logo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 58px;
}

.partner-link{
    margin: 0 30px;
}
/*SECTION PARTNERS END*/

/*TRUST-US START*/
.trust-us {
    padding-top: 120px;
    padding-bottom: 100px;
}
/*TRUST-US END*/

/*SLOGAN-SAID-OUR-BIRD START*/
.slogan-section-said-our-bird {
    background-image: url(../img/img_bg4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 120px 0;
    text-align: center;
    background-attachment: fixed;
}

.products-place {
    font-family: 'OpenSans', sans-serif;
    color:  #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    margin-top: 55px;
}

.products-link {
    font-family: 'OpenSans', sans-serif;
    color:  #f1ad1d;
    text-decoration: none;
    font-size: 18px;
    line-height: 30px;
}

.products-link::after{
    content: "";
    display: block;
    width: 280px;
    height: 3px;
    background-color: white;
    margin: 45px auto;
}
/*SLOGAN-SAID-OUR-BIRD END*/

/*SHARE-GOODS START*/
.share_goods {
    padding-top: 120px;
    padding-bottom: 100px;
}
/*SHARE-GOODS END*/